@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font-family:"Archivo Black", sans-serif;
  --secondary-fony-family:"Archivo", sans-serif;
  --primary-font-size:45px;
}

body {
  font-family: var(--secondary-fony-family);
  line-height: 1.5;
  background-color: #F5FFFA;
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
  font-size: 16px;
}

header {
  z-index: 10;
  position: sticky;
  top: 0;
}
header .nav-link {
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 1px 0px rgb(207, 207, 207);
  color: #252422;
}

article {
  max-width: 800px;
  margin: auto;
  text-wrap: pretty;
}

.main-hero {
  overflow-x: clip;
  position: relative;
  padding: 200px 0 200px 0;
}
.main-hero .container {
  position: relative;
}
.main-hero h1 {
  font-family: var(--primary-font-family);
  text-transform: uppercase;
  font-size: 45px;
}
.main-hero h2 {
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.main-hero p {
  font-weight: 100;
  min-width: 260px;
  max-width: 700px;
}
.main-hero .links a {
  color: black;
}
.main-hero figure img {
  border-radius: 20px;
  box-shadow: 10px -10px black;
  height: 500px;
}
.main-hero .links {
  gap: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main-hero .box1 {
  transform: rotate(45deg);
  top: -120px;
  right: -150px;
  background-color: transparent;
}
.main-hero .box2 {
  bottom: -20px;
  left: -150px;
  transform: rotate(-45deg);
  z-index: 2;
  background-color: #252422;
}
.main-hero .box1,
.main-hero .box2 {
  border-radius: 20px;
  height: 300px;
  width: 300px;
  transition: 720ms;
  position: absolute;
  box-shadow: 10px 10px 30px red;
}

.about {
  background-color: #252422;
  color: white;
  position: relative;
}
.about .hero {
  padding: 100px 0 100px 0;
}
.about .container {
  width: -moz-fit-content;
  width: fit-content;
}
.about h1 {
  font-family: var(--primary-font-family);
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about p {
  font-weight: 100;
}
.about figure {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
}
.about figure img {
  height: 350px;
  border-radius: 50%;
  box-shadow: 0 0 150px red;
}
.about .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.about .icons svg {
  height: 50px;
  width: 40px;
}

@media screen and (max-width: 61.938em) {
  .main-hero {
    padding: 100px 0 250px 0;
  }
  .main-hero h1 {
    font-size: 24px;
  }
  .main-hero h2 {
    font-size: 18px;
  }
  .main-hero .box1 {
    top: -200px;
    right: -200px;
  }
  .main-hero .box2 {
    left: -270px;
  }
  .main-hero .text-center {
    color: #252422 !important;
  }
  .about figure {
    padding-top: 50px;
  }
  .about figure img {
    height: 250px !important;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .hero .box1 {
    right: -210px;
  }
}